* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard;
}

.white {
  background-color: white;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.white .left-section,
.white .right-section {
  flex-basis: 50%;
}

.grey .left-section,
.grey .right-section {
  flex-basis: 50%;
}

.grey {
  background-color: lightgrey;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: auto;
  width: 400px;
  margin: 0 10px 0 10px;
}

.arrow {
  height: 25px;
  width: auto;
}

.text {
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  text-align: left;
  font-size: 25px;
}

.perfume-brand {
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  text-align: left;
  font-size: 25px;
  margin-bottom: 5px;
}
