/* 기본 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 5%;
}

.navbar-logo {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 15px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-input {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
  flex-grow: 1;
  width: 100%;
}

.search-button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  background-color: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
}

/* 태블릿 */
@media screen and (min-width: 768px) {
  .navbar {
    padding: 15px 5%;
  }
  .search-input {
    margin-right: 10px;
    width: 50%;
  }
}

/* 데스크탑 */
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 20px 10%;
  }
  .navbar-logo {
    margin-right: auto;
  }
  .search-input {
    margin-right: 20px;
    width: auto;
    max-width: 500px;
  }
}
